Repository MetaMask/accounts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MetaMask/engineering, @MetaMask/accounts-engineers, @MetaMask/devs

refactor: update all changelogs to use monorepo links
  packages/keyring-api/CHANGELOG.md
  packages/keyring-eth-hd/CHANGELOG.md
  packages/keyring-eth-ledger-bridge/CHANGELOG.md
  packages/keyring-eth-simple/CHANGELOG.md
  packages/keyring-eth-trezor/CHANGELOG.md
  packages/keyring-snap/CHANGELOG.md
Owners: @MetaMask/accounts-engineers, @MetaMask/devs

chore: import {update,validate}-changelog.sh from core monorepo
  scripts/update-changelog.sh
  scripts/validate-changelog.sh
Owners: @MetaMask/engineering

chore: import update-readme-content.ts from core monorepo + add yarn readme:update command
  package.json
  scripts/update-readme-content.ts
Owners: @MetaMask/engineering

chore: update README.md
  README.md
Owners: @MetaMask/engineering

chore: remove top-level .swcrc.build.json and typedoc.json
  .swcrc.build.json
  typedoc.json
Owners: @MetaMask/engineering

chore: add execa + silent n/shebang for scripts/*.ts files
  .eslintrc.js
  package.json
  yarn.lock
Owners: @MetaMask/engineering

refactor(keyring-snap): use jq to get keyring-api package name when building
  packages/keyring-snap/package.json
Owners: @MetaMask/accounts-engineers

chore: import preview* scripts from core monorepo
  scripts/generate-preview-build-message.ts
  scripts/prepare-preview-builds.jq
  scripts/prepare-preview-builds.sh
Owners: @MetaMask/engineering

build: add build:preview commands
  package.json
Owners: @MetaMask/engineering

chore: update preview builds message
  scripts/generate-preview-build-message.ts
Owners: @MetaMask/engineering

refactor: yarn build:preview -> yarn prepare:preview
  .github/workflows/publish-preview.yml
  package.json
Owners: @MetaMask/engineering

build: add publish:preview command + use it in CI
  .github/workflows/publish-preview.yml
  package.json
  packages/keyring-api/package.json
  packages/keyring-eth-hd/package.json
  packages/keyring-eth-ledger-bridge/package.json
  packages/keyring-eth-simple/package.json
  packages/keyring-eth-trezor/package.json
  packages/keyring-snap/package.json
Owners: @MetaMask/engineering, @MetaMask/accounts-engineers, @MetaMask/devs

ci: import publish-preview.yml from core monorepo
  .github/workflows/publish-preview.yml
Owners: @MetaMask/engineering

feat: preview builds (#15)
  .github/workflows/publish-preview.yml
  package.json
  packages/keyring-api/package.json
  packages/keyring-eth-hd/package.json
  packages/keyring-eth-ledger-bridge/package.json
  packages/keyring-eth-simple/package.json
  packages/keyring-eth-trezor/package.json
  packages/keyring-snap/package.json
  scripts/generate-preview-build-message.ts
  scripts/prepare-preview-builds.jq
  scripts/prepare-preview-builds.sh
Owners: @MetaMask/engineering, @MetaMask/accounts-engineers, @MetaMask/devs

refactor: remove nested .gitignores + use the top-level one
  .gitignore
  packages/keyring-api/.gitignore
  packages/keyring-eth-hd/.gitignore
  packages/keyring-eth-ledger-bridge/.gitignore
  packages/keyring-eth-simple/.gitignore
  packages/keyring-eth-trezor/.gitignore
  packages/keyring-snap/.gitignore
Owners: @MetaMask/engineering, @MetaMask/accounts-engineers, @MetaMask/devs

refactor: remove nested .gitignores + use the top-level one (#18)
  .gitignore
  packages/keyring-api/.gitignore
  packages/keyring-eth-hd/.gitignore
  packages/keyring-eth-ledger-bridge/.gitignore
  packages/keyring-eth-simple/.gitignore
  packages/keyring-eth-trezor/.gitignore
  packages/keyring-snap/.gitignore
Owners: @MetaMask/engineering, @MetaMask/accounts-engineers, @MetaMask/devs

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                                    @MetaMask/engineering

/packages/keyring-api                @MetaMask/accounts-engineers

/packages/keyring-snap               @MetaMask/accounts-engineers

/packages/keyring-eth-hd             @MetaMask/accounts-engineers
/packages/keyring-eth-ledger-bridge  @MetaMask/devs
/packages/keyring-eth-simple         @MetaMask/accounts-engineers
/packages/keyring-eth-trezor         @MetaMask/accounts-engineers
