Repository MetaMask/accounts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MetaMask/engineering, @MetaMask/accounts-engineers, @MetaMask/devs

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                                    @MetaMask/engineering

/packages/keyring-api                @MetaMask/accounts-engineers

/packages/keyring-snap               @MetaMask/accounts-engineers

/packages/keyring-eth-hd             @MetaMask/accounts-engineers
/packages/keyring-eth-ledger-bridge  @MetaMask/devs
/packages/keyring-eth-simple         @MetaMask/accounts-engineers
/packages/keyring-eth-trezor         @MetaMask/accounts-engineers

build: re-organize tsconfig.* + force resolutions
  package.json
  packages/keyring-api/tsconfig.build.json
  packages/keyring-api/tsconfig.json
  packages/keyring-eth-ledger-bridge/tsconfig.build.json
  packages/keyring-eth-ledger-bridge/tsconfig.json
  packages/keyring-eth-simple/tsconfig.build.json
  packages/keyring-eth-simple/tsconfig.json
  packages/keyring-eth-trezor/package.json
  packages/keyring-eth-trezor/tsconfig.build.json
  packages/keyring-eth-trezor/tsconfig.json
  packages/keyring-snap/tsconfig.build.json
  packages/keyring-snap/tsconfig.json
  tsconfig.build.json
  tsconfig.json
  tsconfig.packages.build.json
  tsconfig.packages.json
Owners: @MetaMask/engineering, @MetaMask/accounts-engineers, @MetaMask/devs

refactor: remove packageManager from packages
  packages/keyring-api/package.json
  packages/keyring-eth-hd/package.json
  packages/keyring-eth-ledger-bridge/package.json
  packages/keyring-eth-simple/package.json
  packages/keyring-eth-trezor/package.json
  packages/keyring-snap/package.json
Owners: @MetaMask/accounts-engineers, @MetaMask/devs

refactor: re-adapt yarn test + use jest-silent-reporter
  package.json
Owners: @MetaMask/engineering

build: add new build/test commands for all packages
  packages/keyring-api/package.json
  packages/keyring-eth-hd/package.json
  packages/keyring-eth-ledger-bridge/package.json
  packages/keyring-eth-simple/package.json
  packages/keyring-eth-trezor/package.json
  packages/keyring-snap/package.json
Owners: @MetaMask/accounts-engineers, @MetaMask/devs

test(keyring-eth-trezor): use jsdom test environment for some tests
  package.json
  packages/keyring-eth-trezor/package.json
  packages/keyring-eth-trezor/src/trezor-connect-bridge.test.ts
Owners: @MetaMask/engineering, @MetaMask/accounts-engineers

chore: yarn.lock
  yarn.lock
Owners: @MetaMask/engineering

ci: temporarily run CI on this branch (TO BE REMOVED)
  .github/workflows/main.yml
Owners: @MetaMask/engineering

refactor: remove packageManager from packages
  packages/keyring-api/package.json
  packages/keyring-eth-hd/package.json
  packages/keyring-eth-ledger-bridge/package.json
  packages/keyring-eth-simple/package.json
  packages/keyring-eth-trezor/package.json
  packages/keyring-snap/package.json
Owners: @MetaMask/accounts-engineers, @MetaMask/devs

build: re-organize tsconfig.* + force resolutions
  package.json
  packages/keyring-api/tsconfig.build.json
  packages/keyring-api/tsconfig.json
  packages/keyring-eth-ledger-bridge/tsconfig.build.json
  packages/keyring-eth-ledger-bridge/tsconfig.json
  packages/keyring-eth-simple/tsconfig.build.json
  packages/keyring-eth-simple/tsconfig.json
  packages/keyring-eth-trezor/package.json
  packages/keyring-eth-trezor/tsconfig.build.json
  packages/keyring-eth-trezor/tsconfig.json
  packages/keyring-snap/tsconfig.build.json
  packages/keyring-snap/tsconfig.json
  tsconfig.build.json
  tsconfig.json
  tsconfig.packages.build.json
  tsconfig.packages.json
Owners: @MetaMask/engineering, @MetaMask/accounts-engineers, @MetaMask/devs

test(keyring-eth-trezor): use jsdom test environment for some tests
  package.json
  packages/keyring-eth-trezor/package.json
  packages/keyring-eth-trezor/src/trezor-connect-bridge.test.ts
Owners: @MetaMask/engineering, @MetaMask/accounts-engineers

chore: yarn.lock
  yarn.lock
Owners: @MetaMask/engineering

refactor: re-adapt yarn test + use jest-silent-reporter
  package.json
Owners: @MetaMask/engineering

refactor: remove packages/*/.yarn*
  packages/keyring-api/.yarn/plugins/@yarnpkg/plugin-allow-scripts.cjs
  packages/keyring-api/.yarn/plugins/@yarnpkg/plugin-constraints.cjs
  packages/keyring-api/.yarn/releases/yarn-3.2.1.cjs
  packages/keyring-api/.yarnrc.yml
  packages/keyring-eth-hd/.yarn/plugins/@yarnpkg/plugin-allow-scripts.cjs
  packages/keyring-eth-hd/.yarn/releases/yarn-3.3.0.cjs
  packages/keyring-eth-hd/.yarnrc.yml
  packages/keyring-eth-ledger-bridge/.yarn/plugins/@yarnpkg/plugin-allow-scripts.cjs
  packages/keyring-eth-ledger-bridge/.yarn/releases/yarn-3.4.1.cjs
  packages/keyring-eth-ledger-bridge/.yarnrc.yml
  packages/keyring-eth-simple/.yarn/plugins/@yarnpkg/plugin-allow-scripts.cjs
  packages/keyring-eth-simple/.yarn/releases/yarn-3.2.1.cjs
  packages/keyring-eth-simple/.yarnrc.yml
  packages/keyring-eth-trezor/.yarn/plugins/@yarnpkg/plugin-allow-scripts.cjs
  packages/keyring-eth-trezor/.yarn/releases/yarn-3.3.1.cjs
  packages/keyring-eth-trezor/.yarnrc.yml
  packages/keyring-snap/.yarn/plugins/@yarnpkg/plugin-allow-scripts.cjs
  packages/keyring-snap/.yarn/releases/yarn-3.2.1.cjs
  packages/keyring-snap/.yarnrc.yml
Owners: @MetaMask/accounts-engineers, @MetaMask/devs

refactor: remove src/
  src/index.test.ts
  src/index.ts
Owners: @MetaMask/engineering

refactor: use top-level eslint + cleanup packages lint commands/files + adapt rules to match previous linting rules
  .eslintrc.js
  packages/keyring-api/.eslintrc.js
  packages/keyring-api/package.json
  packages/keyring-eth-hd/.eslintrc.js
  packages/keyring-eth-hd/index.js
  packages/keyring-eth-hd/package.json
  packages/keyring-eth-ledger-bridge/.eslintrc.js
  packages/keyring-eth-ledger-bridge/package.json
  packages/keyring-eth-simple/.eslintrc.js
  packages/keyring-eth-simple/package.json
  packages/keyring-eth-trezor/.eslintrc.js
  packages/keyring-eth-trezor/package.json
  packages/keyring-snap/.eslintrc.js
  packages/keyring-snap/package.json
Owners: @MetaMask/engineering, @MetaMask/accounts-engineers, @MetaMask/devs

chore: yarn.lock
  yarn.lock
Owners: @MetaMask/engineering

refactor: remove use of constraints.pro
  constraints.pro
  packages/keyring-api/constraints.pro
Owners: @MetaMask/engineering, @MetaMask/accounts-engineers

chore: run prettier for all package.json
  package.json
  packages/keyring-api/package.json
  packages/keyring-eth-ledger-bridge/package.json
  packages/keyring-eth-simple/package.json
  packages/keyring-eth-trezor/package.json
  packages/keyring-snap/package.json
Owners: @MetaMask/engineering, @MetaMask/accounts-engineers, @MetaMask/devs

refactor: remove packages/*/.prettierrc.js + remove prettier from packages
  packages/keyring-api/.prettierrc.js
  packages/keyring-api/package.json
  packages/keyring-eth-hd/.prettierrc.js
  packages/keyring-eth-hd/package.json
  packages/keyring-eth-ledger-bridge/.prettierrc.js
  packages/keyring-eth-ledger-bridge/package.json
  packages/keyring-eth-simple/.prettierrc.js
  packages/keyring-eth-simple/package.json
  packages/keyring-eth-trezor/.prettierrc.js
  packages/keyring-eth-trezor/package.json
  packages/keyring-snap/.prettierrc.js
  packages/keyring-snap/package.json
Owners: @MetaMask/accounts-engineers, @MetaMask/devs

refactor: remove top-level CHANGELOG.md
  CHANGELOG.md
Owners: @MetaMask/engineering

chore: update prettier to 2.8.8 + remove top-level autochangelog
  package.json
  yarn.lock
Owners: @MetaMask/engineering

fix(prettier): update changelogs for kerying-eth-{hd,ledger-bridge,simple,trezor}
  packages/keyring-eth-hd/CHANGELOG.md
  packages/keyring-eth-ledger-bridge/CHANGELOG.md
  packages/keyring-eth-simple/CHANGELOG.md
  packages/keyring-eth-trezor/CHANGELOG.md
Owners: @MetaMask/accounts-engineers, @MetaMask/devs

refactor: migrate depcheck to the top-level
  .depcheckrc.json
  .depcheckrc.yml
  packages/keyring-api/.depcheckrc.json
  packages/keyring-eth-ledger-bridge/.depcheckrc.json
  packages/keyring-eth-simple/.depcheckrc.json
  packages/keyring-eth-trezor/.depcheckrc.json
  packages/keyring-snap/.depcheckrc.json
Owners: @MetaMask/engineering, @MetaMask/accounts-engineers, @MetaMask/devs

build(keyring-eth-trezor): use nohoist alternative with installConfig
  package.json
  packages/keyring-eth-trezor/package.json
Owners: @MetaMask/engineering, @MetaMask/accounts-engineers

build(keyring-eth-ledger-bridge): add @types/web to provide DOM type definitions
  packages/keyring-eth-ledger-bridge/package.json
Owners: @MetaMask/devs

refactor: move packages/keyring-api/.vscode -> .vscode + remove .vscode from other packages
  .vscode/settings.json
  packages/keyring-eth-simple/.vscode/extensions.json
  packages/keyring-eth-simple/.vscode/settings.json
Owners: @MetaMask/engineering, @MetaMask/accounts-engineers

build(keyring-api): also produces .js during build (required to run keyring-snap tests)
  packages/keyring-api/tsconfig.build.json
Owners: @MetaMask/accounts-engineers

refactor: update global jest.config.js in packages + use it in packages
  .eslintrc.js
  jest.config.packages.js
  packages/keyring-api/jest.config.js
  packages/keyring-api/package.json
  packages/keyring-eth-hd/jest.config.js
  packages/keyring-eth-hd/package.json
  packages/keyring-eth-ledger-bridge/jest.config.js
  packages/keyring-eth-ledger-bridge/package.json
  packages/keyring-eth-simple/jest.config.js
  packages/keyring-eth-simple/package.json
  packages/keyring-eth-trezor/jest.config.js
  packages/keyring-eth-trezor/package.json
  packages/keyring-snap/jest.config.js
  packages/keyring-snap/package.json
  tests/setup.ts
Owners: @MetaMask/engineering, @MetaMask/accounts-engineers, @MetaMask/devs

refactor: remove packages/*/.editorconfig
  packages/keyring-api/.editorconfig
  packages/keyring-eth-ledger-bridge/.editorconfig
  packages/keyring-eth-simple/.editorconfig
  packages/keyring-eth-trezor/.editorconfig
  packages/keyring-snap/.editorconfig
Owners: @MetaMask/accounts-engineers, @MetaMask/devs

build: use tsc --build rather than tsc --project
  packages/keyring-api/package.json
  packages/keyring-eth-ledger-bridge/package.json
  packages/keyring-eth-simple/package.json
  packages/keyring-eth-trezor/package.json
  packages/keyring-snap/package.json
Owners: @MetaMask/accounts-engineers, @MetaMask/devs

chore: remove unused dependencies (@swc)
  package.json
  yarn.lock
Owners: @MetaMask/engineering

build: add yarn build:force command
  package.json
  packages/keyring-api/package.json
  packages/keyring-eth-hd/package.json
  packages/keyring-eth-ledger-bridge/package.json
  packages/keyring-eth-simple/package.json
  packages/keyring-eth-trezor/package.json
  packages/keyring-snap/package.json
Owners: @MetaMask/engineering, @MetaMask/accounts-engineers, @MetaMask/devs

refactor: remove .nvmrc from all packages
  packages/keyring-api/.nvmrc
  packages/keyring-eth-hd/.nvmrc
  packages/keyring-eth-ledger-bridge/.nvmrc
  packages/keyring-eth-simple/.nvmrc
  packages/keyring-eth-trezor/.nvmrc
  packages/keyring-snap/.nvmrc
Owners: @MetaMask/accounts-engineers, @MetaMask/devs

refactor: remove packages/*/.gitattributes
  packages/keyring-api/.gitattributes
  packages/keyring-eth-ledger-bridge/.gitattributes
  packages/keyring-eth-simple/.gitattributes
  packages/keyring-eth-trezor/.gitattributes
  packages/keyring-snap/.gitattributes
Owners: @MetaMask/accounts-engineers, @MetaMask/devs

chore: yarn dedupe
  yarn.lock
Owners: @MetaMask/engineering

chore: yarn.lock + yarn dedupe
  yarn.lock
Owners: @MetaMask/engineering

chore(keyring-snap): disable @typescript-eslint/restrict-template-expressions temporarily
  .eslintrc.js
Owners: @MetaMask/engineering

ci: re-organize build/lint/test steps + check changelogs for each packages
  .github/workflows/build-lint-test.yml
Owners: @MetaMask/engineering

build: add changelog:{validate,update} for each packages
  packages/keyring-api/package.json
  packages/keyring-eth-hd/package.json
  packages/keyring-eth-ledger-bridge/package.json
  packages/keyring-eth-simple/package.json
  packages/keyring-eth-trezor/package.json
  packages/keyring-snap/package.json
Owners: @MetaMask/accounts-engineers, @MetaMask/devs

chore(keyring-eth-hd): update @metamask/auto-changelog to ^3.4.4
  packages/keyring-eth-hd/package.json
  yarn.lock
Owners: @MetaMask/accounts-engineers, @MetaMask/engineering
